<div class="menu">
  <div class="header">
  </div>
  <div class="text-center">
    <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
      <img class="img-responsive" id="main-logo" src="./img/logo-main.png" alt="Logo"></img>
      <button class="btn btn-next btn-main-menu" ng-click="open()">Solicitar presupuesto</button>
    </div>
  </div>
</div>
<footer class="footer text-center">
  01-800-8416016<br>
  <span>www.moving.com.mx</span>
</footer>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title">AVISO DE PRIVACIDAD CARGA HOGAR S.A DE C.V.</h4>
    </div>
    <div class="modal-body">
      <p>
        Carga Hogar S.A de C.V. con domicilio en PETEN 289, INT. 2 COL. NARVARTE, C.P.03020, DEL. BENITO JUAREZ,MÉXICO, RFC: CHO11111KR3, es
        responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección. Sus datos personales serán utilizados
        para las siguientes finalidades: PRESUPUESTAR SERVICIO DE MUDANZA. Para las finalidades señaladas en el presente aviso de privacidad, podemos
         recabar sus datos personales de distintas formas: Vía electrónica (web, e-mail, chat, redes sociales, etc.) Telefónicamente, en presencia del
         titular y en su propio domicilio u por vías de terceros quien el titular haya designado. Para las finalidades antes mencionadas, requerimos
         obtener los siguientes datos personales: NOMBRE Y PRIMER APELLIDO, TELÉFONO CELULAR O LOCAL, INVENTARIO A TRASLADAR (MENAJE, MERCANCÍA, MAQUINARIA,
         AUTOS Y TODO LO RELACIONADO AL TRASLADO) FORMAS DE PAGO. Considerando como sensible según la Ley de Protección de Datos Personales en Posesión de los
         particulares: NOMBRE APELLIDO PATERNO Y MATERNO, DATOS FISCALES, DATOS BANCARIOS, TARJETAS DE CREDITO Y DEBITO, DIRECCIÓN COMPLETA DEL ORIGEN Y DESTINO.
        Usted tiene el derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento
        que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos se
        puede poner en contacto con nuestro departamento de datos personales ubicado en Petén 289, Int. 2 Col. Narvarte, Benito Juarez, D.F. C.P. 03020,
        Tel. 0155-58455391, 01800-8416016 o por correo electrónico o visitar nuestra pagina web: www.moving.com.mx Si usted desea dejar de recibir mensaje
        promocionales de nuestra parte, puede solicitarlo a través de nuestro correo electrónico: ventas@moving.com.mx
        </p>

      <p>Entenderemos por ACEPTADO Y COMPRENDIDO el presente aviso de privacidad, desde el momento de responder, consultar, informar a través de cualquier medio
        electrónico de su propiedad  a todos nuestros correos electrónicos enviados desde las cuentas: david@moving.com.mx araceli@moving.com.mx
        paty@moving.com.mx y ventas@moving.com.mx
      </p>

      <p>Cualquier cambio del presente Aviso de privacidad, será informado a través de nuestros sitio web: www.moving.com.mx.
      </p>

      <p>ATENTAMENTE<br>
      CARGA HOGAR S.A DE C.V.</p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-acept" type="button" ng-click="ok()">Acepto</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Salir</button>
    </div>
</script>
